@model IEnumerable<Bondora.Api.Models.ModelInventory>

<script type="text/javascript">
    function AddToCart(id) {
    jQuery(document).ready(function($){
        var numdays = document.getElementById('numdays_' + id).value;
        numdays = parseInt(numdays);
        var token = document.getElementById('token').value;

        if (!isFinite(numdays)) {
            $("#result").html('@ViewBag.WrongInput');
        } else {
            var jsondata = { 'inventoryId': id, 'numdays': numdays, 'token': token };
            var options = {};
            options.url = "/home/ApiInventory/";
            options.type = "POST";
            options.contentType = "application/json; charset=utf-8";
            options.dataType = "json";
            options.data = JSON.stringify(jsondata);
            options.crossDomain = false;
            options.beforeSend = function () {
                document.getElementById('preload').style.display = '';
            };
            options.success = function (resp) {
                data = JSON.stringify(resp);
                //alert(data);
                var root_obj = $.parseJSON(data);
                if (typeof root_obj == 'undefined' || root_obj == null) {
                    $("#result").html('Error parse json output.');
                } else {
                    var success = root_obj.success;
                    var message = root_obj.message;
                    var countOrdered = root_obj.countOrdered;
                    //alert(success + '; ' + countOrdered);

                    if (countOrdered != 0) document.getElementById('cart_total').innerHTML = countOrdered;
                    $("#result").html(message);
                    document.getElementById('preload').style.display = 'none';
                }
            };
            options.error = function () {
                $("#result").html('@ViewBag.ErrorApiCall');
                document.getElementById('preload').style.display = 'none';
            };
            $.ajax(options);
        }
    });
    }
</script>
<div class="container">
    <h2>@ViewData["Title"]</h2>
    <div class="idea" id="result">@ViewBag.StatusMessage</div>

    <input type="hidden" id="token" value="@ViewBag.Token" />

    @if (Model != null)
    {
        @if (Model.Count() > 0)
        {
            <div style="width:550px;">
                <div class="left">
                    <p>@ViewBag.NumberOfRows</p>
                    <div id="output"></div>
                </div>
                <div class="left">
                    <img id="preload" src="/images/loading.gif" width="50" style="display:none;" />
                </div>
                <div class="right">
                    <a asp-controller="Cart" asp-action="Cart">
                        <table>
                            <tr>
                                <td class="cart">
                                    <img src="~/images/shopping-cart.png" border="0" width="35" title="@ViewBag.Cart" />
                                </td>
                                <td class="cart">
                                    <span class="cart_total" id="cart_total">@ViewBag.CountOrdered</span>
                                </td>
                            </tr>
                            <tr><td class="cart" colspan="2" align="center">@ViewBag.OpenCart</td></tr>
                        </table>
                    </a>
                </div>
            </div>
            <div class="clear"></div>
            <br />


            <table align="center">
                <thead>
                    <tr>
                        <th>@ViewBag.Name</th>
                        <th>@ViewBag.Type</th>
                        <th>@ViewBag.Duration</th>
                        <th>@ViewBag.AddCart</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr onmouseover="bgColor='#ffffcc'" onmouseout="bgColor='#FFFFFF'">
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TypeName)
                            </td>
                            <td>
                                <input type="text" id="numdays_@item.InventoryId" placeholder="@ViewBag.Days" />
                            </td>
                            <td>
                                <input type="button" value="@ViewBag.AddCart" onclick="AddToCart('@item.InventoryId')" class="SimpleImportant" />
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <br />
        }
        else
        {
            <div class="text-center">@ViewBag.NotFound</div>
        }
    }
    else
    {
        <div class="text-center">@ViewBag.NotFound</div>
    }

</div>
